

.beats-list {
  .list {
    margin: 0 auto;
    border: 1px solid green;
    max-width: 1500px;
    grid-template-columns:  repeat(auto-fill, minmax(200px, 250px));
    padding: 1em;
  }
  .beat-card {
    border: 1px solid $black;
    background-color: $black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    .image-container {
      height: 210px;
      img {
        border-radius: 8px;
      }
    }
    .title {
      color: $blue;
    }

    .details {
      padding: 1em;
      .bpm-date {
        margin: 1em 0;
        @include flexCenter(row, space-between, center);
        >* {
          display: inline-block;
        }
        .bpm {
          font-weight: bolder;
        }
      }

      .add-to-cart-button {
        margin: 1em 0;
        background-color: $red;
        color: white;
        border: 1px solid $red;
      }

      .genres-list {
        span {
          border: 1px solid white;
          border-radius: 2px;
          padding: 5px;
        }
      }
    }
  }
}

.new-beat-container {
  min-height: auto;

  .title-header {
    font-size: 3em;
    padding: 1rem;
  }
  
  padding-top: 1rem;
  .new-beat-form {
    position: relative;
    padding: 1rem;
    display: block;
    max-width: 750px;
    border: 1px solid green;
    .file-field {
      text-align: center;
      display: inline-block;
      &:hover .field-label {
        transform: scaleY(1);
      }

      .image-preview-container {
        width: 13em;
        height: 10em;
      }

      .icon-preview-container {
        margin-bottom: .5rem;
        .icon {
          font-size: 69px;
        }

      }

      .file-input {
        display: none;
      }
      .field-label {
        @include absoluteFullSize();
        @include flexCenter(row, center, center);
        background-color: $light-black;
        transform: scaleY(0);
      }
    

      .filename {
        display: inline-block;
    
        width: 100%;
        font-size: 1.1em;
      }
    }

    
    .form-field {
      .field {
        position: relative;
      }
     
      margin: .5em;
      .input {
        padding: 0.7em;
      }
    }

    .top-fields {
      width: 100%;
    }

    .name-field {
    }

    .genres-field {
      color: black;
    }

    .bpm-field {
      width: 30%;
    }

    .mp3-file, .zip-file, .wav-file {
      width:fit-content;
    }

    .submit-form-button {
      border: 8px solid $blue;
      
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      margin: 0;
      transition: 200ms cubic-bezier(0.23, 1, 0.320, 1);
      &:hover {
        border: 5px solid $blue;
        box-shadow: 0px 0px 10px $purple;
      }
    }
  }

 
}

@media screen and (min-width: 1400px) {

  .new-beat-container {
    .new-beat-form {
      
    }
  }
}
