.header-button {
  background-color: black;
  border: none;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
}

.navbar {
  display: none;
}

.nav-logo {
  width: 100px;
  height: 50px;
}

.nav-login {
  display: none;
}

.nav-dropdown {
  z-index: 2;
}

.user-dropdown {
  text-align: right;
  min-width: 80px;
  .dropdown-label {
    text-align: center;
  }
  .dropdown-list {
    box-shadow: 0px 1px 1px $light;
  }
  .session-button {
    margin-top: 1em;
    padding: 0 5px 0 0;
    color: $light;
  }
}

@media screen and (min-width: 700px) {
  .navbar {
    display: block;
  }
  .nav-logo {
    width: 10em;
    height: 5em;
  }

  .nav-login {
    display: inline-block;
  }

  .nav-dropdown {
    display: none;
  }
}