.services {
  @include flexCenter(column, center, center);
  padding: 1em;
}

.service-list {
  .card {
    text-align: center;
    padding: 4em 1em;
    .title {
      color: $blue;
      padding: .5em 0 1em 0;
    }
  }
}

@media screen and(min-width: 700px) {
  .l-list-with-header.service-list {
    .list {
     
      grid-template-columns: repeat(2, minmax(300px, 750px));
    }
    
  }
}