.services {
  @include flexCenter(column, center, center);
  height: fit-content;
  min-height: 90vh;
}

.service-list {
  .card {
    padding: 2em 1em;
    .title {
      color: $blue;
      padding: .5em 0 1em 0;
    }
  }
}

@media screen and(min-width: 700px) {
  .service-list {
    .list {
     
      grid-template-columns: repeat(2, minmax(300px, 750px));
    }
    
  }
}