.session-form {
  @include flexCenter(column, center, center);
  margin-top: 3em;
  width: 100%;
  max-width: 350px;
  input {
    width: calc(100% - 4em - 2px);
    display: block;
    padding: 1em;
    margin-bottom: 5px;
    border: 2px solid $background;
    border-radius: 5px;
    &:focus {
      border: 2px solid $blue;
    }
  }

  button {
    font-size: 1.3em;
    padding: .5em 1em;
    border: 2px solid $blue;
    border-radius: 30px;
    margin: 1em 0;
    transition: 100ms ease-out;
    &:hover {
      border: 2px solid $purple;
    }
  }
}

.session-link {
  color: $blue;
}