@import './normalize';

body {
  background-color: $background;
  color: #fff;
  font-family: 'Roboto Slab', sans-serif;
  position: relative;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
}

input {
  font-family: 'Roboto Slab', sans-serif;
}

button {
  background-color: white;
  font-family: 'Roboto Slab', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1366px) {
  body {
    font-size: 13px;
  }
}