@import './normalize';

body {
  background-color: $background;
  color: #fff;
  font-family: 'Roboto Slab', sans-serif;
  position: relative;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
}

input {
  font-family: 'Roboto Slab', sans-serif;
}

button {
  background-color: white;
  border: 1px solid black;
  padding: 0.5em 1em;
  font-size: 1.2em;
  font-family: 'Roboto Slab', sans-serif;
  border-radius: 6px;
  cursor: pointer;
  i {
    margin-right: 5px;
  }
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1366px) {
  body {
    font-size: 13px;
  }
}