$blue: #5bc2d6;
$purple: #61358c;
$golden: #ffd600;
$secondary-blue: #5c70b3;
$black: #191919;
$background: #323232;
$background-button: rgba(25, 25, 25, 0.8);
$red: #dc143c;
$gradient: linear-gradient(90deg, rgba(91, 194, 214, 1) 0%, rgba(92, 112, 179, 1) 43%, rgba(97, 53, 140, 1) 100%);