/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #323232;
  color: #fff;
  font-family: 'Roboto Slab', sans-serif;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 2em;
}

input {
  font-family: 'Roboto Slab', sans-serif;
}

button {
  background-color: white;
  border: 1px solid black;
  padding: 0.5em 1em;
  font-size: 1.2em;
  font-family: 'Roboto Slab', sans-serif;
  border-radius: 6px;
}

button i {
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1366px) {
  body {
    font-size: 13px;
  }
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: black;
  height: 10vh;
  padding: 0 1rem;
  z-index: 2;
}

.border {
  border: 1px solid red;
}

.full-width-height {
  width: 100%;
  height: 100%;
}

.container-view-size {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}

.page-container {
  min-height: 90vh;
  min-width: 300px;
}

.image-container {
  width: 100%;
  height: 50%;
}

.horizontal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.horizontal-list > * {
  display: inline-block;
  margin-right: .5em;
}

.space-nav-top {
  position: relative;
  top: 10vh;
}

.background-image {
  width: 100%;
  height: 100%;
}

.background-with-text {
  position: relative;
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.shade {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.section-header {
  padding: 2.5rem 0;
}

.section-header span {
  position: relative;
}

.section-header span:before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: #5bc2d6;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-list-with-header {
  height: 100%;
}

.l-list-with-header .list {
  max-width: 1300px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 1em;
  -ms-grid-columns: (minmax(100px, 500px))[1];
      grid-template-columns: repeat(1, minmax(100px, 500px));
}

.l-list-with-header .card {
  position: relative;
  border: 1px solid #5bc2d6;
  border-radius: 5px;
}

.l-list-with-header .card .icon {
  font-size: 4em;
}

.l-list-with-header .card .title {
  text-align: center;
  font-size: 1.5em;
}

.l-list-with-header .card .pre-description .description span {
  display: block;
}

.l-list-with-header .card .description span {
  display: block;
}

.l-dropdown .dropdown-list {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 1rem;
  background-color: black;
  z-index: 2;
}

.l-dropdown .dropdown-list a {
  display: block;
  text-align: center;
  padding: .5em 0;
}

@media screen and (min-width: 700px) {
  .l-dropdown {
    display: none;
  }
}

.title-header {
  text-align: center;
}

.session-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3em;
  width: 100%;
  max-width: 350px;
}

.session-form input {
  width: calc(100% - 4em - 2px);
  display: block;
  padding: 1em;
  margin-bottom: 5px;
  border: 2px solid #323232;
  border-radius: 5px;
}

.session-form input:focus {
  border: 2px solid #5bc2d6;
}

.session-form button {
  font-size: 1.3em;
  padding: .5em 1em;
  border: 2px solid #5bc2d6;
  border-radius: 30px;
  margin: 1em 0;
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
}

.session-form button:hover {
  border: 2px solid #61358c;
}

.session-link {
  color: #5bc2d6;
}

.header-button {
  background-color: black;
  border: none;
  color: white;
  font-size: 1.1em;
}

.navbar {
  display: none;
}

.nav-logo {
  width: 100px;
  height: 50px;
}

.nav-login {
  display: none;
}

@media screen and (min-width: 700px) {
  .navbar {
    display: block;
  }
  .nav-logo {
    width: 10em;
    height: 5em;
  }
  .nav-login {
    display: inline-block;
  }
}

.welcome {
  height: 90vh;
  width: 100%;
}

.welcome .absolute-center {
  z-index: 1;
  font-size: 2em;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.service-list .card {
  padding: 4em 1em;
}

.service-list .card .title {
  color: #5bc2d6;
  padding: .5em 0 1em 0;
}

@media screen and (min-width: 700px) {
  .service-list .list {
    -ms-grid-columns: (minmax(300px, 750px))[2];
        grid-template-columns: repeat(2, minmax(300px, 750px));
  }
}

.licenses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.license-list .list {
  grid-auto-rows: 400px;
}

.license-list .list .card {
  border: 1px solid #191919;
  background-color: #191919;
  padding: 1em;
  height: 100%;
}

.license-list .list .card > .title {
  margin-bottom: 1em;
}

.license-list .list .card .pre-description .title {
  font-size: 1em;
  padding-bottom: .4rem;
}

.license-list .list .card .pre-description .title span {
  border-bottom: 1px solid red;
}

.license-list .list .card .pre-description .description {
  color: #5bc2d6;
}

.license-list .list .card > .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
}

.license-list .list .card > .description span {
  padding: 6px 0;
}

.license-list .list .card .footer {
  position: absolute;
  bottom: 1.3rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  padding-top: 2rem;
  font-size: 2em;
  color: #5bc2d6;
}

@media screen and (min-width: 700px) {
  .license-list .list {
    grid-auto-rows: 380px;
    -ms-grid-columns: (minmax(100px, 500px))[2];
        grid-template-columns: repeat(2, minmax(100px, 500px));
  }
}

@media screen and (min-width: 1000px) {
  .license-list .list {
    grid-auto-rows: 60vh;
    -ms-grid-columns: (minmax(100px, 350px))[4];
        grid-template-columns: repeat(4, minmax(100px, 350px));
  }
  .license-list .list .card {
    min-width: auto;
  }
}

.l-list-with-header .list {
  margin: 0 auto;
  border: 1px solid green;
  -ms-grid-columns: minmax(200px, 250px);
      grid-template-columns: minmax(200px, 250px);
  padding: 1em;
}

.l-list-with-header .beat-card {
  border: 1px solid #191919;
  background-color: #191919;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.l-list-with-header .beat-card .image-container {
  height: 210px;
}

.l-list-with-header .beat-card .image-container img {
  border-radius: 8px;
}

.l-list-with-header .beat-card .title {
  color: #5bc2d6;
}

.l-list-with-header .beat-card .details {
  padding: 1em;
}

.l-list-with-header .beat-card .details .bpm-date {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.l-list-with-header .beat-card .details .bpm-date > * {
  display: inline-block;
}

.l-list-with-header .beat-card .details .bpm-date .bpm {
  font-weight: bolder;
}

.l-list-with-header .beat-card .details .add-to-cart-button {
  margin: 1em 0;
  background-color: #dc143c;
  color: white;
  border: 1px solid #dc143c;
}

.l-list-with-header .beat-card .details .genres-list span {
  border: 1px solid white;
  border-radius: 2px;
  padding: 5px;
}

.hidden {
  display: none;
}

.active {
  color: #5bc2d6;
}
/*# sourceMappingURL=index.css.map */